<html>
    <head>
        <title>$i18n.getText("autoexport") $i18n.getText("templates.title")</title>
    </head>
    <body>
        #applyDecorator("root")
            #decoratorParam("helper" $action.helper)
            #decoratorParam("context" "space-administration")
            #decoratorParam("mode" "view-space-administration")
            #applyDecorator("root")
                #decoratorParam("context" "spaceadminpanel")
                #decoratorParam("selection" "spaceadminautoexport")
                #decoratorParam("title" $viewspacetitle)
                #decoratorParam("selectedTab" "admin")
                #decoratorParam("helper" $action.helper)
        #parse ("/template/includes/actionerrors.vm")
        #parse ("/it/could/confluence/autoexport/templates/messages.vm")
        #if ($actionMessages.size() > 0)
        <div align="center"><a href="$i18n.getText('uri.config')?key=$helper.space.key">$i18n.getText('act.back')</a></div>
        #else
        <form action="$i18n.getText('uri.template-save')?key=$helper.space.key" method="post" name="edittemplateform">
            <table class="grid" width="100%">
                <thead>          
                    <tr>
                        <th style="$i18n.getText('style.title')">
                            $i18n.getText('lbl.namedspace',[$generalUtil.htmlEncode($action.getSpaceName())])
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea name="data" style="$i18n.getText('style.textarea')" rows="30" cols="80">$action.getData()</textarea>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="$i18n.getText('style.buttons')">
                            <input type="hidden" name="space" value="$action.getSpaceKey()">
                            <input type="button" name="back" value="$i18n.getText('act.back')" onclick="location='$i18n.getText('uri.config')?key=$helper.space.key'">
                            <input type="reset"  name="reset" value="$i18n.getText('act.reset')">
                            <input type="submit" name="save" value="$i18n.getText('act.save')">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        #end
        #end
        #end
    </body>
</html>
